@import url("https://fonts.googleapis.com/css?family=Quicksand");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #202731;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
